input::-webkit-input-placeholder {
    color: #fff;
    line-height: 2;
}

input::-moz-placeholder {
    color: #fff;
    line-height: 2;
}
/* Firefox 19+ */
input:-moz-placeholder {
    color: #fff;
    line-height: 2;
}
/* Firefox 18- */
input:-ms-input-placeholder {
    color: #fff;
    line-height: 2;
}

input[placeholder] {
    text-overflow: ellipsis;
    opacity: 0.6;
    line-height: 2;
}

input::-moz-placeholder {
    text-overflow: ellipsis;
    opacity: 0.6;
    line-height: 2;
}

input:-moz-placeholder {
    text-overflow: ellipsis;
    opacity: 0.6;
    line-height: 2;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
    opacity: 0.6;
    line-height: 2;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    line-height: 2;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    line-height: 2;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.input1::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.input1::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.input1:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.input1:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.input1:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.input1:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.input1:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.input1:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tabel-header::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.tabel-header::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.tabel-header:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.tabel-header:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.tabel-header:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tabel-header:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tabel-header:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tabel-header:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}


input[type=button] {
    color: black;
}

a {
    color: black;
}

#table {
    margin-left: -11%;
    z-index:9999;
    position:relative;
}

#table table:first-child {
    position: relative;
    width: 100%;
}

#matrix {
    position: relative;
    padding: 25px;
    background-color: #7e57c2;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.4);
    width: 111.7%;
    color: #f5f5f5;

}

#matrix > table {
    width: 100%;
}

.bigcell {
    position: relative;
    font-size: 15px;
    background-color: #7e57c2;
    vertical-align: top;
    width: 300px;
    height: 91px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.4);
    color: #f5f5f5;
}

.bigcell > div, .bigcell tr > td, .bigcell tr > th {
    text-align: center;
    padding: 10px 10px;
}

.bigcell > table {
    width: 100%;
    border-collapse: collapse;
}

.bigcell > table > tr:nth-child(1n) {
    background-color: #673ab7;
}

.bigcell > table > tr:nth-child(2n) {
    background-color: inherit;
}

#matrix > table > tr:nth-child(1n) {
    background-color: #673ab7;
}

#matrix > table > tr:nth-child(2n) {
    background-color: inherit;
}

#matrix > table:first-child {
    position: initial;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0px;
}

    #matrix > table:first-child > tr > th {
        text-align: center;
    }

#matrix > table > th {
    text-align: center;
}

.inputs_name {
    background-color: #673ab7;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    color: black;
    outline: none;
}

.inputs {
    background-color: #7e57c2;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    color: black;
    outline: none;
}

a.textfield {
    text-decoration: none;
}

    a.textfield:hover {
        text-decoration: none;
    }

.flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;
}

body {
    padding-top: 8%;
    padding-bottom: 20px;
}

td input[type=text] {
    width: 100%;
    height: 100%;
    color: white;
}

.block tr:first-child td:first-child {
    padding: 25px;
    background-color: #673ab7;
    vertical-align: top;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.4);
    width: 244px;
    height: 91px;
}

.block td {
    padding: 25px;
    background-color: #7e57c2;
    vertical-align: top;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.4);
    width: 244px;
    height: 91px;
}

table {
    border-spacing: 4px;
    border-collapse: separate;
    margin-bottom: 50px;
}

.block {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    position: relative;
}

.table_cells {
}

.center {
    text-align: center;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    position: relative;
    padding: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1200px) {
    .jumbotron {
        width: 100%;
        margin: 0 auto;
        padding: 30px;
        margin-bottom: 30px;
        font-size: 19px;
        font-weight: 200;
        position: absolute;
        z-index: 9999;
        top: -75px;
        background-color: transparent;
    }

    .body-content {
    }
}

.navbar-fixed-top > .container {
    width: 90%;
}

.container > .navbar-header {
    float: none;
}

.back {
    color: #f5f5f5;
    border: none;
    background-color: inherit;
    font-size: 20px;
    z-index: 100000;
}

.path {
    color: #f5f5f5;
    border: none;
    background-color: inherit;
    font-size: 13px;
    float: left;
}

.registr > li {
    float: none;
}

.Main_title {
    font-size: 30px;
    color: #f5f5f5;
    margin: 0 31px 0 0;
}

.registr {
    margin-top: 45px;
}

td > .add {
    position: absolute;
    background-color: #f9a825;
    border-radius: 35px;
    color: #f5f5f5;
    text-align: center;
    font-size: 60px;
    width: 64px;
    height: 64px;
    line-height: 1.1;
    outline: none;
    margin-top: 34px;
    margin-left: -7px;
}

div > .add {
    position: absolute;
    background-color: #f9a825;
    border-radius: 35px;
    color: #f5f5f5;
    text-align: center;
    font-size: 60px;
    width: 64px;
    height: 64px;
    line-height: 1.1;
    outline: none;
    right: 5px;
}

.add:hover {
    outline: none;
    text-decoration: none;
    color: #f5f5f5;
    cursor: pointer;
}

.finish {
    background-color: #f9a825;
    text-align: center;
    position:fixed;
    font-size: 20px;
    width: 100px;
    height: 38px;
    line-height: 1.8;
    z-index: 9999;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.4);
    color: #f5f5f5;
    outline: none;
    text-decoration: none;
    top: 42em;
    right: 2em;
    cursor: pointer;
}

.bottom_left{
    position:fixed;
    top: 45em;
    left: 2em;
}

.save_and_load {
    display:block;
}

.save_name {
    width:300px;
}

.save {
    cursor: pointer;
    width:initial;
    border: none;
    display:block;
}

.upload {
    cursor: pointer;
    border: none;
}

.save_and_load > td :first-child {
    width:300px;
}

.select_upload {
    border: none;
}

td:first-child:nth-last-child(1) {
    width: 300px;
}

td:first-child:nth-last-child(5),
td:first-child:nth-last-child(5) ~ td {
    width: 180px;
}
